node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
GoogleService-info.plist
google-services.json
keys/google-cloud-api.json
.env
secrets/
# macOS
.DS_Store
secrets/mission-partner-app-b2bb64cb3030.json
